#affichage {
    float: left;
    margin-top: 10px;
    margin-left: 80px;
    width: 93%;
    border-radius: 10px;
    overflow: auto;
}

input[type=text] {
    height: 26px;
    width: 300px
}

input[type=text]._demi {
    width: 100px
}

input[type=text]._cb {
    width: 120px
}

.param[type='TH'] {
    text-align: center;
    cursor: pointer;
}

.erreur {
    background-color: red;
}

.code1 {
    top: 40px;
    left: 40px;
    width: 820px;
    height: 560px;
    /* background-color:#83c7c3; */
    position: absolute;
    border-radius: 10px;
    z-index: 2000;
}

.button {
    /* width:150px; */
    font-size: 18px;
    font-weight: bold;
    padding: 5px 20px 5px 20px;
}

#popup_g {
    visibility: hidden;
    z-index: 1000;
    background: #fff;
    padding: 20px;
    border: 20px solid #ddd;
    position: absolute;
    top: 80px;
    width: 40%;
    left: 80px;
    overflow: auto;
    box-shadow: 0px 0px 10px #000;
    border-radius: 10px;
}

#popup_g {
    position: absolute;
    background-color: #ffffff;
    top: 100px;
    left: 80px;
    z-index: 100;
    visibility: hidden;
}

#popup_d {
    position: relative;
    float: right;
    background-color: #ffffff;
    z-index: 100;
    visibility: hidden;
}

.historique {
    /* width:100%; */
    -moz-column-count: 3;
    -webkit-column-count: 3;
}

.valVente {
    font-size: 12px;
    color: blue;
    text-anchor: middle;
}

.serveur1 {
    background-color: #ffffff;
}

.serveur2 {
    background-color: #f0f0f0;
}

/*------------------les tables----------------------------*/

table#liste_article {
    width: 95%;
    margin: 0 20px 20px;
    border-collapse: collapse;
}

table#liste_article th {
    font-size: 15px;
    padding: 3px;
    vertical-align: middle;
}

table#liste_article td {
    vertical-align: middle;
    font-size: 15px;
    height: 30px;
    padding: 0px 10px 0 10px;
}

table#inventaire {
    width: 100%
}

table#inventaire thead {
    background-color: white;
}

table#inventaire tr {
    cursor: pointer;
}

table#inventaire td {
    height: 20px;
}

.bout_etiq {
    margin: 2px;
    width: 90px;
    height: 50px;
    text-align: center;
}

.supprimer {
    background-image: url('/images/annuler.png');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    padding: 2px;
}

table#detail_article {
    width: 97%;
    float: left;
}

table#detail_article tr {
    height: 25px;
}

table#liste_editeur {
    margin-left: 20px;
    width: 92%;
}

table#liste_editeur td {
    height: 20px;
    vertical-align: middle;
}

table#liste_editeur thead {
    background-color: white;
}

table#liste_editeur thead {
    background-color: white;
}
table#liste_editeur tr {
    height:20px;
}

.blanc {
    background-color: white;
    height: 25px;
}