#keypad {
min-width:280px;
position:absolute;
	display: none;
	z-index: 100;
	margin-left: 30px;
	padding: 0;
	background-color: #fff;
	color: #000;
	border: 1px solid #888;
	-webkit-border-radius: 0.25em;
	border-radius: 0.25em;
}
.keypad-row {
	width: 100%;
	text-align:center;
}
.key {
	margin: 0.125em;
	padding: 0.5em;
	width: 90px;
 height:90px;
 font-size:18px;
font-weight:bold;
	background-color: #f4f4f4;
	-webkit-border-radius: 0.25em;
	border-radius: 1em;
	text-align: center;
	cursor: pointer;
}