/* tables */
/*table.tablesorter {
float:left;
	margin:10px 0pt 15px;
	width: 80%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	font-size: 12pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}*/
table.tablesorter tbody td {
  font-size: 14px;
  text-align:left;
	color: #3D3D3D;
	padding: 4px;
	background-color: #388887;
	vertical-align: top;
 }
table.tablesorter tbody tr.odd td {
  text-align:left;
  border-top:solid 1px;
	background-color:#F0F0F6;
 }
/*table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}*/
