button{width:200px;height:35px;font-size:14px;font-weight:bold}
td{
padding:3px;
text-align:left;
}
th{padding:3px;
text-align:right;
cursor:pointer;
}

#affichage{
float:left;
margin-top:10px;
margin-left:80px;
width:93%;
border-radius: 10px;
overflow:auto;
}
#detail{
overflow:auto;
}

#liste{
position:fixed;
top:80px;
left:90px;
width:100px;
text-align:center;
}
#liste button{
text-align:center;
width:80px;
height:25px;
}

.semaine{
text-align:center;
font-weight:bold;
background-color:silver;
}
.mois{
text-align:center;
font-weight:bold;
background-color:white;
}

.jour{margin-right:5px; width:95%}
.jour td{text-align:right}

.cumul{
font-weight:bold;
}
.decais{
font-style:italic;
}
#popup_g{
position:absolute;
background-color:#ffffff;
top:100px;
left:80px;
z-index:100;
visibility:hidden;
}
#resume{
/* width:1200px; */
font-size:14px;
 margin-top:10px;
 border:solid 1px;
}

#resume td{
 text-align:right;
 border:dotted 1px;
 width:90px
 }
 #resume th {
 border:solid 1px;
 text-align:center;
 }

.pt_bt{
height:25px;width:80px;margin-top:-5px;
}
			
.droite{
text-align:right;
}
.centre {
    text-align:right;
}
    
#edi_mode{
position:absolute;
visibility:hidden;
min-width:300px;
left:80px;
top:20px;
background-color:silver;
overflow:auto;
border-radius: 10px;
}

.annees{text-align:center;
}
.valVente{
font-size:12px;
color:blue;
}
.echelle{
font-size:8px;
font-weight:bold;
}
polyline{
fill:red;
fill-opacity:0.3;
}
#ventes{
font-weight:bold;
font-size:12px;
text-anchor:end;
}
#commandes{
font-size:12px;
font-weight:bold;
fill:red;
text-anchor:end;
}
.mois_svg{
text-anchor:middle;
font-weight:bold;
}
th{text-align:center;}

table#tableDetailCompte{
width:98%;
}
.comptes{
width:30px;
margin:5px;
}